<div class="row" style="margin-left: 0px; margin-right: 0px;">
  <app-menu></app-menu>
  <main role="main" class="col">
    <div id="datosUser" class="boxContainer shadow">
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <h4>{{ users[0].name }}</h4>
          <h4>{{ users[0].email }}</h4>
        </div>
        <div class="col-xs-12 col-md-6" id="userAvatar">
          <img [src]= "users[0].avatar">
          <input type="file" class="form-control-file" id="exampleFormControlFile1">
        </div>  
      </div>
    </div>
    <div id="cuentasUser" class="boxContainer shadow">
      <div class="row">
        <h4>Cuentas</h4>                             
      </div>                  
      <div class="row">        
        <div id="AccountsList">
          <div class="accountItem" *ngFor="let account of accounts; let i = index">
            <button  class="btn" (click)="modifyAccount(i)"><img src="/assets/AccountImg.jpg" id="AccImg"></button> 
            <p>{{ account.name }}</p>
            <!-- Modal que modifica y comparte las cuentas -->
            <ngx-smart-modal #myAcc identifier="myAcc">
                <header class="modalHeader">
                  <h3>{{ accountToModify.name }}</h3> 
                </header>
                <body class="modalBody">
                  <div class="input-group mb-3">
                    <input type="text" class="form-control" [(ngModel)]="newname" name="newname" placeholder="Nuevo nombre" aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary" type="button" (click)="saveAccount(myAcc.getData().index)">Cambiar</button>
                    </div>
                  </div>  
                  <div class="input-group mb-3">
                    <input type="email" class="form-control" [(ngModel)]="shareTo" name="shareTo" placeholder="Compartir con ejemplo@email.com" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary" type="button" (click)="shareAccount(myAcc.getData().index)">Compartir</button>
                    </div>
                  </div> 
                  <div class="sharedItem" *ngFor= "let shared of accountToModify.shared ; let i = index"> 
                    <img class="roundedImg" [src]="accountToModify.shared[i].avatar" /> 
                    <span class="sharedEmail">{{ accountToModify.shared[i].email}}</span>
                    <button class="oi oi-x xBtnModal" (click)="deleteShared(myAcc.getData().index)"></button>
                  </div>
                </body>
                  <footer class="modalFooter">
                    <button type="button" class="btn modalBtn" (click)="deleteAccount(myAcc.getData().index)">Borrar</button>                  
                  </footer>                               
              </ngx-smart-modal>
          </div> 
          <button class="btn btn-outline-success addBtn" (click)="ngxSmartModalService.getModal('addAcc').open();"><i class="oi oi-plus"></i></button>   
        </div>     
      </div>      
    </div>
    <div id="categoriasUser" class="boxContainer shadow">
      <div class="row">
        <h4>Categorias</h4>        
      </div>
      <button type="button" id="addCategory" class="btn btn-outline-success addBtn" (click)="ngxSmartModalService.getModal('myCate').open();"><i class="oi oi-plus"></i></button>
      <div class="row">
        <div *ngFor="let category of categories; let i = index" id="categoriesList">
          <button type="button" class="btn btn-outline-success">{{ category.name }}</button>
        </div>
      </div>        
    </div>
  </main>
</div>

<!-- Modal que añade cuentas -->
<ngx-smart-modal #addAcc identifier="addAcc" class="appModal">
  <header class="modalHeader">
    <h3>Añadir cuenta</h3>
  </header>
  <body class="modalBody">
    <div id="newAccount"> 
      <form class="login" (keydown)="keyDownAcc($event, accountName)">
        <input autofocus type="name" id="name" class="form-control" [(ngModel)]="accountName" name="name" placeholder="Nombre de cuenta" required>                            
      </form>
    </div> 
  </body>
  <footer class="modalFooter">
    <div>
      <button type="button" class="btn btn-primary modalBtn" (click)="addAccount(accountName)">Añadir</button>
    </div>          
  </footer>                                 
</ngx-smart-modal>



<!-- Modal que añade categorias -->
<ngx-smart-modal #myCate identifier="myCate">
  <header class="modalHeader">
    <h3>Añadir categoria</h3>
  </header>
  <body class="modalBody">
    <div id="newCategory">
      <form class="login" (keydown)="keyDownCat($event, categoryName, 'newid', newFather)">
        <input autofocus type="name" id="name" class="form-control" [(ngModel)]="categoryName" name="categoryName" placeholder="Nombre categoria" required>
        <select class="form-control"  id="father" [(ngModel)]="newFather" name="newFather" aria-placeholder="Selec Category">
          <option *ngFor="let category of categories" [ngValue]="category">{{ category.name }}</option>
        </select>                                            
      </form>
    </div>
  </body>
  <footer class="modalFooter">
    <button type="button" class="btn btn-primary modalBtn" (click)="addCategory(categoryName,'newid',newFather)">Add</button>
  </footer>
</ngx-smart-modal>

<!-- Modal de confirmacion de acciones -->
<ngx-smart-modal #confirm identifier="confirm">
    <header class="modalHeader">
      <h3>ATENCIÓN</h3>
    </header>
    <body class="modalBody">
        <p>¿Estás seguro?</p>   
    </body>
    <footer class="modalFooter">
          <button type="button" class="btn btn-primary modalBtn" (click)="doAcction('true')">Si</button>
          <button type="button" class="btn btn-danger modalBtn" (click)="doAcction('false')">No</button> 
    </footer>
  </ngx-smart-modal>
  