<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head> 
<!------ Include the above in your HEAD tag ---------->

<div class="container-fluid">
	<div class="row">
		<div class="wrapper" id="menuDesktop">
    	    <div class="side-bar">
                <ul>
                    <li class="menu-head">
                        GastosAPP <a class="push_menu"><span class="glyphicon glyphicon-align-justify pull-right"></span></a>
                    </li>
                    <div class="menu">
                        <li>
                            <a routerLinkActive="active" routerLink="/home">Home <i class="glyphicon glyphicon-home pull-right"></i></a>
                        </li>
                        <li>
                            <a routerLinkActive="active" routerLink="/prueba" >Prueba<i class="glyphicon glyphicon-heart pull-right"></i></a>
                        </li>                        
                        <li>
                            <a href="#">Log Out<i class="glyphicon glyphicon-log-out pull-right"></i></a>
                        </li>
                    </div>
                    
                </ul>
    	    </div>   
            <div class="content">
                <div class="col-md-12">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
        <div id="menuMobile">
            <div class="col-xs-12 navbar-inverse navbar-fixed-bottom">
                <div class="row" id="bottomNav">
                  <div class="col-xs-4 text-center"><a routerLinkActive="active" routerLink="/home"><i class="glyphicon glyphicon-home"></i></a></div>
                  <div class="col-xs-4 text-center"><a routerLinkActive="active" routerLink="/prueba"><i class="glyphicon glyphicon-heart"></i></a></div>
                  <div class="col-xs-4 text-center"><a href="#"><i class="glyphicon glyphicon-log-out"></i></a></div>
                </div>
                </div>
        </div>
	</div>
</div>