<div class="container-fluid">
	<div class="row">
		<div class="wrapper" id="menuDesktop" [ngClass]="statusMenu ? 'active' : ''">
    	    <div class="side-bar">
                <ul>
                    <li class="menu-head">
                        GastosAPP <a class="push_menu" (click)="toggleMenu()">
                                <i class="oi oi-menu float-right"></i>
                        </a>
                    </li>
                    <div class="menu">
                        <li>
                            <a routerLinkActive="active" routerLink="/home">Home <i class="oi oi-home float-right"></i></a>
                        </li>
                        <li>
                            <a routerLinkActive="active" routerLink="/prueba" >Prueba<i class="oi oi-cog float-right"></i></a>
                        </li>                        
                        <li>
                            <a href="#">Log Out<i class="oi oi-power-standby float-right"></i></a>
                        </li>
                    </div>
                    
                </ul>
    	    </div>   
            <div class="content">
                <div class="col-md-12">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
        <div id="menuMobile">
            <div class="col navbar-inverse navbar-fixed-bottom">
                <div class="row" id="bottomNav">
                  <div class="col text-center"><a routerLinkActive="active" routerLink="/home"><i class="oi oi-home"></i></a></div>
                  <div class="col text-center"><a routerLinkActive="active" routerLink="/prueba"><i class="oi oi-cog"></i></a></div>
                  <div class="col text-center"><a href="#"><i class="oi oi-power-standby"></i></a></div>
                </div>
            </div>
        </div>
	</div>
</div>