@import '../../../css/_flexbox.scss';
@import '../../../css/_variables.scss';

.row {
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
}
main {
  h4 {
    margin-bottom: 20px;
  }

  #datosUser {
    margin-top: 50px;
  }
  .dataForm {
    @include flexbox();
    flex-wrap: wrap;

    input {
      margin-bottom: 10px;
    }
    select {
      margin-bottom: 10px;
    }
    #dataAmount {
      margin-right: 5rem;
    }
  }
  .btn-right {
    text-align: right;
  }
  .formBtn {
    color: white;
    background: $primaryOrange;
    border-color: transparent;
    margin-top: 30px;
  }
}
