/* You can add global styles to this file, and also import other style files */
@import "~ngx-smart-modal/ngx-smart-modal";
@import "/css/_variables.scss";

*{
    
font-family: 'Montserrat', sans-serif;
font-size: 14px;
}


body{
    height: 100%;
    width: 100%;    
    margin-bottom: 30px;
}

.loginShadow{
    box-shadow: 0 70px 20px -30px rgba(0, 0, 0, 0.77) !important;
}

.boxContainer{
    padding: 2rem;  
    border: 1px solid $detailsGrey;
    margin: 1rem;
    background-color: white;
}



.active > .side-bar
{
    margin-left:-150px;   
    transition: margin-left 0.5s;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  background-color: transparent;
}
