@import '../../../../css/_flexbox.scss';
@import '../../../../css/_variables.scss';

.headerContent{
    border-bottom: 1px solid $detailsGrey;
    margin-bottom: 10px;
}

.bodyContent{

    .movement {
        margin-bottom: 5px;
        margin-left: 3px;
    }
}

.movements {
    align-items: flex-end;

    a {
        margin: 1rem;
        color: $primaryGrey;
        text-decoration: none;
    }
    button {
        margin: 1rem;
        justify-content: space-evenly;
    }
}


.negative {
    color: $detailsRed;
}

.positive {
    color: $detailsGreen;
}

